<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.security.identity.credential" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoulBabble"
        tools:targetApi="31">
        <activity
            android:name=".ui.Journaling.DetailJournalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Journaling.ListJournalingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Journaling.SuccessJournalingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Journaling.InputJournaling3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Journaling.InputJournaling2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Journaling.InputJournaling1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.Recommendation.DetailRecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MonthFragment"
            android:exported="false"
            android:theme="@style/Theme.SoulBabble" />
        <activity
            android:name=".ui.TrackingMood.InputQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TrackingMood.InputTrackingMood2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.TrackingMood.InputTrackingMood1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeActivity"
            android:exported="false"
            android:theme="@style/AppTheme.TransparentStatusBar" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>